/**********paleta de colores**************/
@import "variables";

/*general*/
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz0zd-OfLzpCqZS6VbsR7PU-tCxr-jnYGf3Q&usqp=CAU);
    background-size: cover;
    font-family: 'PT Serif', serif;
}

h1{
    font-weight: 200;
    color:$gris;
}

h2{
    width:100%;
    color:$gris;
    font-weight: 400;
    margin:7px 0px;
}

h3{
    width: 100%;
    font-weight: 500;
    color:$gris;
    margin:5px;
}


/* navbar */

.navbar{
    background-image: linear-gradient($purpura , $azul );
}
.nav-link{
    color:$gris;
}
.nav-link:hover{
    font-weight: 700;
    background-image: linear-gradient($purpura,$azul);
    border-radius: 4px;
}
.nav-drop:hover{
    border-radius: 7px;
}
.dropdown-item:hover{
    background-color: $rosita;
}
.hamburguesa:hover{
    color:$purpura;
    border:1px solid $azul;
}

/*index*/
.index{
    margin:2px;
}
.index__text{
    text-align: center;
}
.btn {
    background-image: linear-gradient($rosa, $rosita);
}
.btn:hover{
    background-image: linear-gradient($purpura, $violeta);
    color: $black;
}
.back{
    text-align:center;
}

/* albumes de index*/

.albumes__foto{
    width: 100%;
    border: 1px solid $gris;
}
.albumes__foto:hover{
    border-width: 0.2rem;
    border-color: $azul;
    border-style: outset;
    transform: scale(1.05 , 1.05);
}
.albumes__icon{
    width: 100%;
    justify-content: center;
    padding:70px;
}
.albumes__icon:hover{
    transform:scale(1,1 , 1,1);
    padding:40px;
}
.albumes__caja{
    margin:0px;
    padding:5px;
}

/*hisotria*/

.subtitulo__historia{
    background-image: linear-gradient($rosita , $rosa);
    text-align: center;
}

/*seccion galeria*/

.galeria__caja{
    margin: 0px;
    padding: 10px;
}
.galeria__foto{
    width:100%;

}
.galeria__foto:hover{
    transform:scale(1.10,1.10);
    border-color: $rosa;
    border-width: 0.2rem;
    border-style: outset;
}

/*seccion musica*/

.musica__link{
    width: 100%;
}
.cuadro{
    background-image: linear-gradient($rosita, $rosa);
    padding:10px;
    width:30%;
    text-align: center;
    border-radius: 0.5rem;
    display:block;
}

/*seccion contacto*/

.form{
    margin-left:5px;
}

.form__items:hover{
    color:$purpura;
}
.subtitulo__cont{
    background-image: linear-gradient($rosita , $rosa);
    text-align: center;
}


#grids{
    display: grid;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete ocho nueve";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    width:115%;
}

.foto__contacto{
    width: 180px;
}


@each $numero in uno, dos, tres, cuatro, cinco, seis, siete, ocho, nueve {
    .#{$numero} { 
        grid-area:  
        #{$numero};
    }
}



/*footer*/
.pie{
    background-image: linear-gradient( $azul , $purpura);
    
}
.pie__redes{
    color:white;
}
.iconito{
    color:white;
}
.iconito:hover{
    color:$rosa;
}
.d-flex a:hover{
    transform: scale(2,2);
}

@media only screen and(max-width:1024px)
{
    .form{ 
        margin:0px;
    }
    .galeria__foto:hover{
        display: none;
    }
    .logoFooter{
        display:none;
    }
}






