/**********paleta de colores**************/
/***paleta de colores***/
/*general*/
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz0zd-OfLzpCqZS6VbsR7PU-tCxr-jnYGf3Q&usqp=CAU);
  background-size: cover;
  font-family: 'PT Serif', serif;
}

h1 {
  font-weight: 200;
  color: #414141;
}

h2 {
  width: 100%;
  color: #414141;
  font-weight: 400;
  margin: 7px 0px;
}

h3 {
  width: 100%;
  font-weight: 500;
  color: #414141;
  margin: 5px;
}

/* navbar */
.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D983EB), to(#756CD4));
  background-image: linear-gradient(#D983EB, #756CD4);
}

.nav-link {
  color: #414141;
}

.nav-link:hover {
  border-bottom: 2px solid #D983EB;
  color: white;
}

.nav-drop:hover {
  background-color: #756CD4;
}

.dropdown-item:hover {
  background-color: #F5C7A6;
}

.hamburguesa:hover {
  color: #756CD4;
  border: 1px solid #67b2dd;
}

/*index*/
.index {
  margin: 2px;
}

.index__text {
  text-align: center;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5A7A6), to(#F5C7A6));
  background-image: linear-gradient(#F5A7A6, #F5C7A6);
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#67b2dd), to(#D983EB));
  background-image: linear-gradient(#67b2dd, #D983EB);
  color: #000;
}

.back {
  text-align: center;
}

/* albumes de index*/
.albumes__foto {
  width: 100%;
  border: 1px solid #414141;
}

.albumes__foto:hover {
  border-width: 0.2rem;
  border-color: #F5A7A6;
  border-style: outset;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.albumes__icon {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px;
}

.albumes__icon:hover {
  -webkit-transform: scale(1, 1, 1, 1);
          transform: scale(1, 1, 1, 1);
  padding: 40px;
}

.albumes__caja {
  margin: 0px;
  padding: 5px;
}

/*hisotria*/
.story h2 {
  color: #756CD4;
}

/*seccion galeria*/
.galeria__caja {
  margin: 0px;
  padding: 10px;
}

.galeria__foto {
  width: 100%;
}

.galeria__foto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  border-color: #F5C7A6;
  border-width: 0.2rem;
  border-style: outset;
}

/*seccion musica*/
.musica__link {
  width: 100%;
}

.cuadro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F5C7A6), to(#F5A7A6));
  background-image: linear-gradient(#F5C7A6, #F5A7A6);
  padding: 10px;
  width: 30%;
  text-align: center;
  border-radius: 0.5rem;
}

/*seccion contacto*/
.form {
  margin: 5px;
}

.form__foto {
  width: 500px;
  margin: 10px 0px 5px 70px;
}

.form__items:hover {
  color: #756CD4;
}

/*footer*/
.pie {
  background-color: #756CD4;
}

.pie__redes {
  color: white;
}

.iconito {
  color: white;
}

.iconito:hover {
  color: #D983EB;
}

.d-flex a:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}
/*# sourceMappingURL=style.css.map */