/**********paleta de colores**************/
/***paleta de colores***/
/*general*/
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz0zd-OfLzpCqZS6VbsR7PU-tCxr-jnYGf3Q&usqp=CAU);
  background-size: cover;
  font-family: 'PT Serif', serif;
}

h1 {
  font-weight: 200;
  color: #414141;
}

h2 {
  width: 100%;
  color: #414141;
  font-weight: 400;
  margin: 7px 0px;
}

h3 {
  width: 100%;
  font-weight: 500;
  color: #414141;
  margin: 5px;
}

/* navbar */
.navbar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b366f1), to(#6cbfd8));
  background-image: linear-gradient(#b366f1, #6cbfd8);
}

.nav-link {
  color: #414141;
}

.nav-link:hover {
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b366f1), to(#6cbfd8));
  background-image: linear-gradient(#b366f1, #6cbfd8);
  border-radius: 4px;
}

.nav-drop:hover {
  border-radius: 7px;
}

.dropdown-item:hover {
  background-color: #ffe1b4;
}

.hamburguesa:hover {
  color: #b366f1;
  border: 1px solid #6cbfd8;
}

/*index*/
.index {
  margin: 2px;
}

.index__text {
  text-align: center;
}

.btn {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5838d), to(#ffe1b4));
  background-image: linear-gradient(#f5838d, #ffe1b4);
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b366f1), to(#eea0dd));
  background-image: linear-gradient(#b366f1, #eea0dd);
  color: #000;
}

.back {
  text-align: center;
}

/* albumes de index*/
.albumes__foto {
  width: 100%;
  border: 1px solid #414141;
}

.albumes__foto:hover {
  border-width: 0.2rem;
  border-color: #6cbfd8;
  border-style: outset;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.albumes__icon {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 70px;
}

.albumes__icon:hover {
  -webkit-transform: scale(1, 1, 1, 1);
          transform: scale(1, 1, 1, 1);
  padding: 40px;
}

.albumes__caja {
  margin: 0px;
  padding: 5px;
}

/*hisotria*/
.subtitulo__historia {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe1b4), to(#f5838d));
  background-image: linear-gradient(#ffe1b4, #f5838d);
  text-align: center;
}

/*seccion galeria*/
.galeria__caja {
  margin: 0px;
  padding: 10px;
}

.galeria__foto {
  width: 100%;
}

.galeria__foto:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  border-color: #f5838d;
  border-width: 0.2rem;
  border-style: outset;
}

/*seccion musica*/
.musica__link {
  width: 100%;
}

.cuadro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe1b4), to(#f5838d));
  background-image: linear-gradient(#ffe1b4, #f5838d);
  padding: 10px;
  width: 30%;
  text-align: center;
  border-radius: 0.5rem;
  display: block;
}

/*seccion contacto*/
.form {
  margin-left: 5px;
}

.form__items:hover {
  color: #b366f1;
}

.subtitulo__cont {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe1b4), to(#f5838d));
  background-image: linear-gradient(#ffe1b4, #f5838d);
  text-align: center;
}

#grids {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "uno dos tres" "cuatro cinco seis" "siete ocho nueve";
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  width: 115%;
}

.foto__contacto {
  width: 180px;
}

.uno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
}

.dos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
}

.tres {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tres;
}

.cuatro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: cuatro;
}

.cinco {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cinco;
}

.seis {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: seis;
}

.siete {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: siete;
}

.ocho {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ocho;
}

.nueve {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: nueve;
}

/*footer*/
.pie {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6cbfd8), to(#b366f1));
  background-image: linear-gradient(#6cbfd8, #b366f1);
}

.pie__redes {
  color: white;
}

.iconito {
  color: white;
}

.iconito:hover {
  color: #f5838d;
}

.d-flex a:hover {
  -webkit-transform: scale(2, 2);
          transform: scale(2, 2);
}

@media only screen and (max-width: 1024px) {
  .form {
    margin: 0px;
  }
  .galeria__foto:hover {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */